@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");
body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
body.is-login {
  background-image: linear-gradient(64deg, #ffff00, #ff00cc);
  background-repeat: no-repeat;
}
body.is-register {
  background-image: linear-gradient(64deg, #33339a, #ff00cc);
  background-repeat: no-repeat;
}
body .container {
  max-width: 1024px;
  margin: auto;
}
body .btn {
  background-color: #000;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  transition: transform 350ms ease;
}
body .btn a {
  color: #fff;
  text-decoration: none;
}
body .btn:hover {
  transform: scale(0.95);
}
body .navbar {
  width: 100%;
}
body .navbar .navbar_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 24px;
}
body .navbar .navbar_wrapper .navbar_brand {
  font-weight: bold;
}
body .navbar .navbar_wrapper .navbar_menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}
body .navbar .navbar_wrapper .navbar_menu ul li {
  padding: 10px 18px;
}
body .navbar .navbar_wrapper .navbar_menu ul li a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
body .navbar .navbar_wrapper .navbar_menu ul li:hover {
  color: #f4f4f4;
}
body .navbar .navbar_wrapper .navbar_profile {
  display: flex;
  align-items: center;
}
body .navbar .navbar_wrapper .navbar_profile img {
  margin-left: 15px;
}
body .login-card {
  margin: auto;
  width: 450px;
  background: rgba(255, 255, 255, 0.5);
  padding: 4rem;
  border-radius: 10px;
  position: relative;
  margin-top: 90px;
}
body .login-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15);
  transform: rotate(-6deg);
  border-radius: 10px;
  z-index: -1;
}
body .login-card-logo {
  margin-bottom: 2rem;
}
body .login-card-logo img {
  width: 60px;
}
body .login-card-logo,
body .login-card-header,
body .login-card-footer {
  text-align: center;
}
body .login-card a {
  text-decoration: none;
  color: #35339a;
}
body .login-card a:hover {
  text-decoration: underline;
}
body .login-card-header {
  margin-bottom: 2rem;
}
body .login-card-header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
body .login-card-header h1 + div {
  font-size: 0.8rem;
  opacity: 0.8;
}
body .login-card-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
body .login-card-form .form-item {
  position: relative;
}
body .login-card-form .form-item .form-item-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 1.3rem;
  opacity: 0.4;
  transform: translateY(-50%);
}
body .login-card-form .checkbox {
  display: flex;
  align-items: center;
  gap: 7px;
}
body .login-card-form .form-item-other {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
body .login-card-footer {
  margin-top: 1.5rem;
  font-size: 0.8rem;
}
body .login-card input[type=text],
body .login-card input[type=password],
body .login-card input[type=email] {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem 1.5rem;
  padding-left: 3.5rem;
  border-radius: 100px;
  width: 100%;
  transition: background 0.5s;
}
body .login-card input:focus {
  background: white;
}
body .login-card input[type=checkbox] {
  width: 16px;
  height: 16px;
  accent-color: black;
}
body .login-card button {
  background: black;
  color: white;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.5s;
}
body .login-card button:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}
body .login-card-social {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  margin-top: 3rem;
}
body .login-card-social > div {
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
body .login-card-social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
body .login-card-social-btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100px;
  transition: all 0.5s;
}
body .login-card-social-btns a:hover {
  background-color: white;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  body body {
    padding: 2rem 0;
  }
  body .login-card {
    width: 280px;
    padding: 2rem;
  }
}
@media screen and (max-width: 823px) {
  body .navbar {
    width: 100%;
  }
  body .navbar .navbar_wrapper .navbar_menu {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */